@media screen and (min-width: 768px) and (max-width: 1023px) {
    body{
        margin: 0;
        height: 96vh;
        padding: 2vh 0;
    }
    #form-block{
        height: 96vh;
        margin: 0 auto;
        padding-top: 0;
        padding-bottom: 0;
    }
    #form-block>h2{
        padding-top: 10px;
    }
}